<!DOCTYPE html>
<html>
<head>
<title>Login Page</title>
<link rel="stylesheet" type="text/css" href="Login.css">
<link rel="icon" href="LOGO.png" type="image/icon type">
</head>
<body>
<div class="container">
    <nav class="nav-form">
        <img src="LOGO.png" alt="logoimg">
    </nav>
    <h2>Login</h2>
    <form action="/datauser" method="post">
    <label for="username">Email</label>
    <input type="text" id="username" name="email" placeholder="Your Email.." required>

    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Your password.." required>

    <button type="submit">Login</button> 
    </form>
</div>
</body>
</html>
